@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 39, 39, 42; /* zink-800 */
    --color-text-muted: 82, 82, 91; /* zink-600 */
    --color-text-inverted: 255, 255, 255; /* white */
    --color-text-accent: 6, 182, 212;
    --color-text-accent-hover: 14, 165, 233;

    --color-fill: 255, 255, 255;
    --color-fill-muted: 244, 244, 245; /* zink-100 */
    --color-fill-inverted: 39, 39, 42; /* zink-800 */
    --color-fill-accent: 6, 182, 212;

    --color-button-accent: 6, 182, 212;
    --color-button-accent-hover: 14, 165, 233;
    --color-button-accent-muted: 8, 145, 178;

    --color-button-classic: 39, 39, 42;
    --color-button-classic-hover: 63, 63, 70;
    --color-button-classic-muted: 24, 24, 27;

    --color-border-base: 228, 228, 231;
    --color-border-accent: 6, 182, 212;

    --color-ring-base: 6, 182, 212;
  }
}
